<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67252505978-t8t1mhi0o5njume6jgpl2kvbo75e8tr9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67252505978-t8t1mhi0o5njume6jgpl2kvbo75e8tr9</string>
	<key>API_KEY</key>
	<string>AIzaSyD5TyAdnX_Bxi4UimA-v4MJ4FWB2ffyq6U</string>
	<key>GCM_SENDER_ID</key>
	<string>67252505978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doHome</string>
	<key>PROJECT_ID</key>
	<string>dohomes-6792e</string>
	<key>STORAGE_BUCKET</key>
	<string>dohomes-6792e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67252505978:ios:8feac0c051d6d913309ac3</string>
</dict>
</plist>